@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --roboto-font: 'Roboto', sans-serif;
    --inter-font: 'Inter', sans-serif;
    --p_black: #020202;
    --p_yellow: #F6AE2D;
    --p_white: #EEF0F2;
    --p_gray: #A2999E;
    --p_brown: #846A6A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--roboto-font);
}

main {
    min-height: 150vh;
    max-height: auto;
}

.body {
    padding-top: 60px;
}